%script(type='text/html' id='folders-template')
	.row
		.container(data-template='folder-template' data-bind="source: folders")

%script(type='text/html' id='folder-template')
	.k-block.col-xs-3(style='margin:10px;')
		.k-header.k-shadow(style='text-align:center;')
			.pull-right
				%span.glyphicon.glyphicon-pencil(title='open folder' data-target="#= data #" style='cursor:pointer' data-bind="click: openFolder")
			%span(data-bind="text: data")
		.k-content
			%input.uploader(id='uploader-#= data #' type='file' name='media' data-role='upload' data-bind="visible: isVisible" data-async="{ saveUrl: '/upload/#= data #', removeUrl: '/remove', autoUpload: false }")
