%script(type='text/html' id='uploader-template')
	%input#uploader(type='file' name='files' data-role='upload' data-bind="visible: isVisible" data-async="{ saveUrl: '/upload', removeUrl: '/remove', autoUpload: false }")
